<h1> This page should display all the models stored in this instance variable! </h1>
<p>
	<%= @users.each do |this| %>
	<%= puts this %>
	<% end %>
	<%= @cats.each do |this| %>
	<%= puts this %>
	<% end %>
	<%= @todos.each do |this| %>
	<%= puts this %>
	<% end %>
</p>